//!palette
$blue-primary: #0282f9;
$grey-primary: #303030;
$grey-secondary: #797979;
$black-secondary: #1c1c1c;

//!container
@mixin container($width: 1280px) {
  width: $width;
  margin: 0 auto;
}
//!sizing
$header-height: 120px;
